@model Core.ViewModels.FlightViewModel

@{
    ViewBag.Title = "Flight details";
}

<h1>@ViewBag.Title</h1>
<div>
    <p>
        <strong>@Html.DisplayNameFor(m => m.Id)</strong>:
        @Html.DisplayFor(o => o.Id)
    </p>
    <p>
        <strong>@Html.DisplayNameFor(m => m.FlightNumber)</strong>:
        @Html.DisplayFor(o => o.FlightNumber)
    </p>
    <p>
        <strong>@Html.DisplayNameFor(m => m.DepartTime)</strong>:
        @Html.DisplayFor(o => o.DepartTime)
    </p>
    <p>
        <strong>@Html.DisplayNameFor(m => m.DepartLocation)</strong>:
        @Html.DisplayFor(o => o.DepartLocation)
    </p>
    <p>
        <strong>@Html.DisplayNameFor(m => m.ArrivalLocation)</strong>:
        @Html.DisplayFor(o => o.ArrivalLocation)
    </p>
    <p>
        <strong>@Html.DisplayNameFor(m => m.PlaneType)</strong>:
        @Html.DisplayFor(o => o.PlaneType)
    </p>
</div>

